<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="../../static/images/animais-de-estimacao.png" type="image/png">
    <!-- Importando o Bootstrap JS para a funcionalidade do formulário 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->



    <title>Cadastro de Clientes</title>
</head>



<body>
    <header class="fixed-top" id="Header">
        <div id="container2">
            <!-- Menu suspenso -->
            <div class="dropdown" id="menuDropdown"  tabindex="0" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="text-white" id="menuToggle" role="button">
                    <i class="bi bi-list me-2"></i>
                </div>
                <ul class="dropdown-menu" id="menuItems">
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% if session['tipo_usuario'] == 'usuario' %}
                        {{ url_for('usuario_bp.usuario') }}
                    {% elif session['tipo_usuario'] == 'master' %}
                        {{ url_for('master_bp.master') }}
                    {% else %}
                        #
                    {% endif %}">
                            <i class="fa-solid fa-house me-2"></i>Início
                        </a>
                    </li>
                    {% if session['tipo_usuario'] == 'master' %}
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{{ url_for('master_bp.cadastro_usuario') }}">
                                <i class="fa-solid fa-user me-2"></i>Cadastro de usuários
                            </a>
                        </li>
                    {% endif %} 
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% if session['tipo_usuario'] == 'usuario' %}
                        {{ url_for('usuario_bp.cadastro_cliente') }}
                    {% elif session['tipo_usuario'] == 'master' %}
                        {{ url_for('master_bp.cadastro_cliente') }}
                    {% else %}
                        #
                    {% endif %}">
                            <i class="fa-solid fa-users me-2"></i>Cadastro de clientes
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% if session['tipo_usuario'] == 'usuario' %}
                        {{ url_for('usuario_bp.cadastro_animal') }}
                    {% elif session['tipo_usuario'] == 'master' %}
                        {{ url_for('master_bp.cadastro_animal') }}
                    {% else %}
                        #
                    {% endif %}">
                            <i class="fa-solid fa-dog me-2"></i>Cadastro de animais
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="fa-solid fa-user-md me-2"></i>Cadastro de veterinários
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center"
                            href="#">
                            <i class="fa-solid fa-file-medical me-2"></i>Cadastro de prontuário
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="fa-solid fa-briefcase-medical me-2"></i>Cadastro de serviços
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% if session['tipo_usuario'] == 'usuario' %}
                        {{ url_for('usuario_bp.cadastro_tipo_servico') }}
                    {% elif session['tipo_usuario'] == 'master' %}
                        {{ url_for('master_bp.cadastro_tipo_servico') }}
                    {% else %}
                        #
                    {% endif %}">
                            <i class="fa-solid fa-paw me-2"></i>Cadastro de tipo de serviço
                        </a>
                    </li>
                </ul>
            </div>

            <div class="titulo">PetShop</div>
            <div><img class="imgPetHouse" src="../../static/images/pet-house.png" alt="image"></div>

        </div>



        <div class="usuarioSessao">
            Login da sessão: ({{current_user.login}}) <a href="#" class="sair"
                onclick="document.getElementById('logout-form').submit();" data-bs-toggle="tooltip"
                title="Logout da sessão">Sair</a>

            <form id="logout-form" action="{{ url_for('login_bp.logout') }}" method="POST" style="display: none;">
                <!-- Você pode adicionar um CSRF token aqui se estiver usando Flask-WTF -->
            </form>

            <br>
            <div class="theme-toggle">
                <label class="switch" data-bs-toggle="tooltip" title="Alternar tema claro/escuro">
                    <input type="checkbox" id="toggleTheme">
                    <span class="slider round"></span>
                </label>
                <i id="themeIcon" class="fas fa-sun theme-icon"></i> <!-- Ícone inicial -->
            </div>
        </div>

    </header>

    <main class="container paddingBottom50px">

        <h2>Cadastro de Clientes</h2>
        <div class="container-box">

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="" method="POST">

                <div class="row">
                    <div class="form-group col-md-9">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="clienteNome" class="form-control" required
                            placeholder="Nome completo">
                    </div>


                    <div class="form-group col-md-3">
                        <label for="genero">Gênero</label>
                        <select id="genero" name="clienteGenero" class="form-select custom-select-cor" required>
                            <option value="">Selecione...</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="nao_informado">Prefiro não informar</option>
                            <option value="Outro">Outro</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-9">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="clienteEmail" class="form-control" required
                            placeholder="Email">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="telefone">Telefone</label>
                        <input type="text" id="telefone" name="clienteTelefone" class="form-control" required
                            placeholder="(00) 00000-0000">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10">
                        <label for="logradouro">Logradouro</label>
                        <input type="text" class="form-control" id="logradouro" name="clienteLogradouro"
                            placeholder="Rua ou Avenida" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="numero">Número</label>
                        <input type="text" class="form-control" id="numero" name="clienteNumero" placeholder="Ex: 123"
                            required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="bairro">Bairro</label>
                        <input type="text" class="form-control" id="bairro" name="clienteBairro"
                            placeholder="Nome do bairro" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cidade">Cidade</label>
                        <input type="text" class="form-control" id="cidade" name="clienteCidade"
                            placeholder="Nome da cidade" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="estado">Estado</label>
                        <select class="form-select custom-select-cor" id="estado" name="clienteEstado" required>
                            <option value="">Selecione o estado</option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="cep">CEP</label>
                        <input type="text" class="form-control" id="cep" name="clienteCep" placeholder="00000-000"
                            required>
                    </div>
                </div>

                <div id="divButtonCadastrar" style="padding-top: 20px;">

                    <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
                </div>

            </form>
        </div>

        <div class="footer">
            &copy; 2025. Todos os direitos reservados.
        </div>

    </main>


    <script src="../../static/main.js"></script>
</body>

</html>