* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}


html, body {
    height: 100%;
    min-height: 100%;
}


.home {

    margin-top: 80px;

}

.h-custom {
    height: calc(100% - 80px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.img-fluid{
    border-radius: 20px;
       
}


header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 20px;
    
    background-color: rgb(87, 35, 136);
    width: 100%;
    color: white;
    z-index: 1000;
    font-weight: bold;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;

    font-size: 30px;

    display: flex;
    justify-content: space-between; /* Espaço entre as divs laterais */
    align-items: center; /* Alinha os itens verticalmente */
    
    width: 100%;
    height:60px;
}

.usuarioSessao{
    font-weight: normal;
    margin: 0; /* Remove margens padrão */
    padding: 0;
    font-size: 16px; /* Ajuste opcional para melhor encaixe */
}

.footer {
    position: fixed;  /* Fixa no final da tela */
    bottom: 0;        /* Cola na parte de baixo */
    left: 0;
    width: 100%;      /* Ocupa toda a largura */
    height: 26px;     /* Define a altura desejada */
    background-color: rgb(145, 182, 14); /* Mantém a cor de fundo */
    display: flex;    /* Mantém a organização flexível */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o texto horizontalmente */
    font-size: 14px;
}

.btn.btn-primary.btn-lg{

    background-color:  rgb(140, 175, 13); border-color: transparent;
}
.btn.btn-primary.btn-lg:hover {
    background-color: #088312; /* Cor de fundo ao passar o mouse */
}
.btn.btn-primary.btn-lg:active {
    background-color: #095a10;
}

#loginMaster, #homeMaster, #homeUsuario{
    display:flex;
    margin-top: 0px;
}

.sair{
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: none;
}