<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/animais-de-estimacao.png" type="image/png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../../static/styles.css">


    <title>Home</title>
</head>



<body>
    <header class="fixed-top" id="Header">
        <div id="container2">

            <!-- Menu suspenso -->
            <div class="dropdown" id="menuDropdown" tabindex="0" role="button" aria-haspopup="true"
                aria-expanded="false">
                <div class="text-white" id="menuToggle" role="button">
                    <i class="bi bi-list"></i>
                </div>
                <ul class="dropdown-menu" id="menuItems">
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% if session['tipo_usuario'] == 'usuario' %}
                        {{ url_for('usuario_bp.usuario') }}
                    {% elif session['tipo_usuario'] == 'master' %}
                        {{ url_for('master_bp.master') }}
                    {% else %}
                        #
                    {% endif %}">
                            <i class="fa-solid fa-house me-3"></i>Início
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center"
                            href="{% if session['tipo_usuario'] == 'usuario' %}
                        {{ url_for('usuario_bp.cadastros_realizados') }}
                    {% elif session['tipo_usuario'] == 'master' %}
                        {{ url_for('master_bp.cadastros_realizados') }}
                    {% else %}
                        #
                    {% endif %}">
                            <i class="fa-solid fa-user me-3"></i>Acessar cadastros realizados
                        </a>
                    </li>
                    {% if session['tipo_usuario'] == 'master' %}
                    <li>
                        <a class="dropdown-item d-flex align-items-center"
                            href="{{ url_for('master_bp.cadastro_usuario') }}">
                            <i class="fa-solid fa-user me-3"></i>Cadastro de usuários
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% if session['tipo_usuario'] == 'usuario' %}
                        {{ url_for('usuario_bp.cadastro_cliente') }}
                    {% elif session['tipo_usuario'] == 'master' %}
                        {{ url_for('master_bp.cadastro_cliente') }}
                    {% else %}
                        #
                    {% endif %}">
                            <i class="fa-solid fa-users me-3"></i>Cadastro de clientes
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% if session['tipo_usuario'] == 'usuario' %}
                        {{ url_for('usuario_bp.cadastro_animal') }}
                    {% elif session['tipo_usuario'] == 'master' %}
                        {{ url_for('master_bp.cadastro_animal') }}
                    {% else %}
                        #
                    {% endif %}">
                            <i class="fa-solid fa-dog me-3"></i>Cadastro de animais
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="fa-solid fa-user-md me-3"></i>Cadastro de veterinários
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="fa-solid fa-file-medical me-3"></i>Cadastro de prontuário
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="fa-solid fa-briefcase-medical me-3"></i>Cadastro de serviços
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% if session['tipo_usuario'] == 'usuario' %}
                        {{ url_for('usuario_bp.cadastro_tipo_servico') }}
                    {% elif session['tipo_usuario'] == 'master' %}
                        {{ url_for('master_bp.cadastro_tipo_servico') }}
                    {% else %}
                        #
                    {% endif %}">
                            <i class="fa-solid fa-paw me-3"></i>Cadastro de tipo de serviço
                        </a>
                    </li>
                </ul>
            </div>

            <div class="titulo">PetShop</div>
            <div><img class="imgPetHouse" src="../../static/images/pet-house.png" alt="image"></div>
        </div>

        <div class="usuarioSessao">
            <div>
                Login da sessão: ({{current_user.login}}) <a href="#" class="sair"
                    onclick="document.getElementById('logout-form').submit();" data-bs-toggle="tooltip"
                    title="Logout da sessão">Sair</a>

                <form id="logout-form" action="{{ url_for('login_bp.logout') }}" method="POST" style="display: none;">
                    <!-- Você pode adicionar um CSRF token aqui se estiver usando Flask-WTF -->
                </form>
            </div>

            <div class="theme-toggle">
                <label class="switch" data-bs-toggle="tooltip" title="Alternar tema claro/escuro">
                    <input type="checkbox" id="toggleTheme">
                    <span class="slider round"></span>
                </label>
                <i id="themeIcon" class="fas fa-sun theme-icon"></i> <!-- Ícone inicial -->
            </div>

        </div>
    </header>
    <main class="container">

        <h2>Cadastros realizados</h2>

        <div class="container-box text-center" id="opcoes">
            <div class="row g-3">
                <div class="col-md-6">
                    <a href="{{ url_for('master_bp.listar_usuarios') }}">
                        <button class="btn btn-success btn-custom"><i class="fas fa-user"></i>Usuários
                            cadastrados</button>
                    </a>
                </div>

                <div class="col-md-6 mx-auto">
                    <a href="{{ url_for('master_bp.listar_master_clientes') }}">
                        <button class="btn btn-success btn-custom"><i class="fas fa-users"></i>Clientes
                            cadastrados</button>
                    </a>
                </div>

                <div class="col-md-6 mx-auto">
                    <a href="{{ url_for('master_bp.cadastro_animal') }}">
                        <button class="btn btn-success btn-custom"><i class="fas fa-dog"></i>Animais
                            cadastrados</button>
                    </a>
                </div>

                <div class="col-md-6 mx-auto">
                    <a href="#">
                        <button class="btn btn-success btn-custom"><i class="fas fa-user-md"></i>Veterinários
                            cadastrados</button>
                    </a>
                </div>

                <div class="col-md-6 mx-auto">
                    <a href="#">
                        <button class="btn btn-success btn-custom"><i class="fas fa-file-medical"></i>Prontuários
                            cadastrados</button>
                    </a>
                </div>

                <div class="col-md-6 mx-auto">
                    <a href="#">
                        <button class="btn btn-success btn-custom"><i class="fas fa-briefcase-medical"></i>Serviços
                            cadastrados</button>
                    </a>
                </div>

                <div class="col-md-6 mx-auto">
                    <a href="{{ url_for('master_bp.cadastro_tipo_servico') }}">
                        <button class="btn btn-success btn-custom"><i class="fas fa-paw"></i>Tipo de
                            Serviço cadastrados</button>
                    </a>
                </div>

            </div>
        </div>
        <div class="footer">
            &copy; 2025. Todos os direitos reservados.
        </div>

    </main>
    <script src="../../static/main.js"></script>
</body>

</html>